{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contain">
  <div class="nyck"><img src="{% static "personal/undraw_address_udes.svg"%}"></div>
              <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Who We Are ?</h1>
    <p class="lead">K S Automobiles is the best car service center in Jaipur. We focus on customers comfort and quality in serving them.</p>
    <div class="location">
      <div class="loca">
        <div class="loc"><img src="{% static "personal/location.svg"%}"></div>
        <div>
        <p>Plot 7, Murlipura Thana, Jaipur</p>
        <p>Mob. 9847367347</p>
        </div>
      </div>
      <div class="loca">
          <div class="loc"><img src="{% static "personal/location.svg"%}"></div>
          <div>
          <p>Plot 7, Murlipura Thana, Jaipur</p>
          <p>Mob. 9847367347</p>
          </div>
      </div>
    </div>
  </div>
  <div class="nyck"><img src="{% static "personal/undraw_heatmap_uyye.svg"%}"></div>

</div>
  <div class="botmContainer">
    <div class="collectR">
      <a href="#automatic"><div class="roundS"><p>Automatic Machines</p></div></a>
      <a href="#employees"><div class="roundS"><p>Skilled Employees</p></div></a>
      <a href="#delivery"><div class="roundS"><p>Home Delivery</p></div></a>
      <a href="#service"><div class="roundS"><p>Customer Service</p></div></a>
      <a href="#price"><div class="roundS"><p>Reasonable Price</p></div></a>
    </div>
  </div>


  
{% endblock content %}