{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contain">
  <div class="nyck"><img src="{% static "personal/undraw_address_udes.svg"%}"></div>
              <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Who We Are ?</h1>
    <p class="lead">K S Automobiles is the best car service center in Jaipur. We focus on customers comfort and quality in serving them.</p>
    <div class="location">
      <div class="loca">
        <div class="loc"><img src="{% static "personal/location.svg"%}"></div>
        <div>
        <p>Plot 7, Murlipura Thana, Jaipur</p>
        <p>Mob. 9847367347</p>
        </div>
      </div>
      <div class="loca">
          <div class="loc"><img src="{% static "personal/location.svg"%}"></div>
          <div>
          <p>Plot 7, Murlipura Thana, Jaipur</p>
          <p>Mob. 9847367347</p>
          </div>
      </div>
    </div>
  </div>
  <div class="nyck"><img src="{% static "personal/undraw_heatmap_uyye.svg"%}"></div>

</div>
  <div class="botmContainer">
    <div class="collectR">
      <a href="#automatic"><div class="roundS"><p>Automatic Machines</p></div></a>
      <a href="#employees"><div class="roundS"><p>Skilled Employees</p></div></a>
      <a href="#delivery"><div class="roundS"><p>Home Delivery</p></div></a>
      <a href="#service"><div class="roundS"><p>Customer Service</p></div></a>
      <a href="#price"><div class="roundS"><p>Reasonable Price</p></div></a>
    </div>
  </div>

  <div class="dibbody">
    <div id="automatic" class="classif">
      <div class="subcli">Automatic Machines</div>
      <!-- <div class="imgmang">
        <div><img src="{% static "personal/automatic1.jpg"%}"></div>
        <div><img src="{% static "personal/automatic2.jpg"%}"></div>
        <div><img src="{% static "personal/tech3.jpeg"%}"></div>
      </div> -->
            <div class="syapar gridswapa">
          <div class="syaparb">
              <img src="{% static "personal/automatic4.svg"%}">
            </div>
        <div class="syapara hfbf">
        <div class="subyc"><b>BluePoint Automatic 3 D Alignment Machine</b><p>Vehicle alignment is done on new generation automatic alignement machine installed in workshop. No chances of errors and better service always. Computerized 3 D alignment which align the stering and wheel to give better efficency while long drives on unsurfaced road.</p></Vehicle></div>
        <div class="subyc"><b>Automatic Tyre Changer</b><p>No damage to typre and rim while balanceing and serviceing. Very quick and safe.</p></div>
        <div class="subyc"><b>A C Machine</b><p>Sustainable and efficent A C service.</p></div>
        <div class="subyc"><b>Washing Lift and Apparatus</b><p>From washing to drycleaning everything is done without leaving any corner of dirt which embarace you.</p></div>
        </div>

      </div>
    </div>
  
{% endblock content %}