{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="contain">
  <div class="nyck"><img src="{% static "personal/undraw_address_udes.svg"%}"></div>
              <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Who We Are ?</h1>
    <p class="lead">K S Automobiles is the best car service center in Jaipur. We focus on customers comfort and quality in serving them.</p>
    <div class="location">
      <div class="loca">
        <div class="loc"><img src="{% static "personal/location.svg"%}"></div>
        <div>
        <p>Plot 7, Murlipura Thana, Jaipur</p>
        <p>Mob. 9847367347</p>
        </div>
      </div>
      <div class="loca">
          <div class="loc"><img src="{% static "personal/location.svg"%}"></div>
          <div>
          <p>Plot 7, Murlipura Thana, Jaipur</p>
          <p>Mob. 9847367347</p>
          </div>
      </div>
    </div>
  </div>
  <div class="nyck"><img src="{% static "personal/undraw_heatmap_uyye.svg"%}"></div>

</div>
  <div class="botmContainer">
    <div class="collectR">
      <a href="#automatic"><div class="roundS"><p>Automatic Machines</p></div></a>
      <a href="#employees"><div class="roundS"><p>Skilled Employees</p></div></a>
      <a href="#delivery"><div class="roundS"><p>Home Delivery</p></div></a>
      <a href="#service"><div class="roundS"><p>Customer Service</p></div></a>
      <a href="#price"><div class="roundS"><p>Reasonable Price</p></div></a>
    </div>
  </div>

  <div class="dibbody">
    <div id="automatic" class="classif">
      <div class="subcli">Automatic Machines</div>

            <div class="syapar gridswapa">
          <div class="syaparb">
              <img src="{% static "personal/automatic4.svg"%}">
            </div>
        <div class="syapara hfbf">
        <div class="subyc"><b>BluePoint Automatic 3 D Alignment Machine</b><p>Vehicle alignment is done on new generation automatic alignement machine installed in workshop. No chances of errors and better service always. Computerized 3 D alignment which align the stering and wheel to give better efficency while long drives on unsurfaced road.</p></Vehicle></div>
        <div class="subyc"><b>Automatic Tyre Changer</b><p>No damage to typre and rim while balanceing and serviceing. Very quick and safe.</p></div>
        <div class="subyc"><b>A C Machine</b><p>Sustainable and efficent A C service.</p></div>
        <div class="subyc"><b>Washing Lift and Apparatus</b><p>From washing to drycleaning everything is done without leaving any corner of dirt which embarace you.</p></div>
        </div>

      </div>
    </div>
    <div id="employees" class="classif">
      <div class="subcli">Skilled Employees</div>
      <!-- <div class="imgmang">
        <div><img src="{% static "personal/skill1.jpg"%}"></div>
        <div><img src="{% static "personal/skill2.jpg"%}"></div>
        <div><img src="{% static "personal/skill3.svg"%}"></div>
      </div>       -->
      <div class="syapar gridswapb">
          <div class="syaparb">
              <img src="{% static "personal/skill3.svg"%}">
            </div>
    <div class="syapara hfbfa">
    <div class="subyc"><b>Special well skilled employee for 3 D Alignment</b><p>Having great skills in measuring Primary angles, Secondary angles and aligning the wheels to make sure that vehicle move smoothly and reduce tyre consumption.</p></div>
    <div class="subyc"><b>Balancing and Tyre changer machenic</b><p>Experienced machemic for changing tyres and balancing who will take care of minor errors.</p></div>
    <div class="subyc"><b>Special machenic for A C </b><p>Well mastered machenic in dealing with all aspect of A C work in any vehicle.</p></div>
    <div class="subyc"><b>Car washer and drycleaner</b><p>Taking care of customer interset and have skill in washing different cars from Sedan to Open.</p></div>
    <div class="subyc"><b>Engine Machenic</b><p>Master in Engine machenics and capable of handleing any kind of problem related to Engine in every car from any different company.</p></div>
    <div class="subyc"><b>Car delevery Boy</b><p>Experienced driver will deliver and take care of your car while delivering. Fast and safe delivery service.</p></div>
  </div>

    </div>
  
{% endblock content %}